# 01. Import libraries

In [1]:
# Import libraries
import pandas as pd 
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import scipy

In [2]:
# Create a path for easier importing
path = r'C:\Users\blim9\Desktop\Projects'

In [3]:
df = pd.read_csv(os.path.join (path, 'london_merged.csv'), index_col = False)

In [4]:
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [6]:
df.shape

(17414, 10)

# 02. Data Wrangling

In [7]:
df.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [8]:
df.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [9]:
# Creating a list to specify the columns to use
new_col_dict = {
    'timestamp': 'time',
    'cnt': 'count',
    't1': 'temp_real',
    't2': 'temp_feels_like',
    'hum': 'humidity_percent',
    'wind_speed': 'wind_speed',
    'weather_code': 'weather',
    'is_holiday': 'is_holiday',
    'is_weekend': 'is_weekend',
    'season': 'season'
}

In [10]:
# Rename the columns to the specified column names
df.rename(new_col_dict, axis=1, inplace=True)

In [11]:
df.head()

,time,count,temp_real,temp_feels_like,humidity_percent,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [12]:
# Change the humidity values to a percentage (value between 0 and 1)
df.humidity_percent = df.humidity_percent/100

In [13]:
# Create a dictionary for the season so each number has a value associated with it
season_dict = {
    '0.0': 'spring',
    '1.0': 'summer',
    '2.0': 'autumn',
    '3.0': 'winter'
}

In [14]:
# Create a dictionary for the weather so that each number has a value associated with it
weather_dict = {
    '1.0': 'Clear',
    '2.0': 'Scattered clouds',
    '3.0': 'Broken clouds',
    '4.0': 'Cloudy',
    '7.0': 'Rain',
    '10.0': 'Rain with thunderstorm',
    '26.0': 'Snowfall'
}

In [15]:
# Change the seasons column data type to string
df.season = df.season.astype('str')

In [16]:
# Map the values to the written values
df.season = df.season.map(season_dict)

In [17]:
# Change the weather column data type to string
df.weather = df.weather.astype('str')

In [18]:
# Map the values to the written values
df.weather = df.weather.map(weather_dict)

In [19]:
df.head()

,time,count,temp_real,temp_feels_like,humidity_percent,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

# 03. Data cleaning

In [20]:
# Check for missing values
df.isnull().sum()

time                0
count               0
temp_real           0
temp_feels_like     0
humidity_percent    0
wind_speed          0
weather             0
is_holiday          0
is_weekend          0
season              0
dtype: int64

In [21]:
# Check for duplicate values
df_dups = df[df.duplicated()]

In [22]:
df_dups

Empty DataFrame
Columns: [time, count, temp_real, temp_feels_like, humidity_percent, wind_speed, weather, is_holiday, is_weekend, season]
Index: []

#### No missing values or duplicates found

In [23]:
# Export the cleaned data set for Tableau visualization
df.to_csv(os.path.join (path, 'cleaned_data.csv'))